<a href="https://colab.research.google.com/github/Soufiane07-05/Credit-Card-Fraud-Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194194 entries, 0 to 194193
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    194194 non-null  float64
 1   V1      194194 non-null  float64
 2   V2      194194 non-null  float64
 3   V3      194194 non-null  float64
 4   V4      194194 non-null  float64
 5   V5      194194 non-null  float64
 6   V6      194194 non-null  float64
 7   V7      194194 non-null  float64
 8   V8      194194 non-null  float64
 9   V9      194194 non-null  float64
 10  V10     194194 non-null  float64
 11  V11     194194 non-null  float64
 12  V12     194194 non-null  float64
 13  V13     194194 non-null  float64
 14  V14     194194 non-null  float64
 15  V15     194194 non-null  float64
 16  V16     194194 non-null  float64
 17  V17     194194 non-null  float64
 18  V18     194194 non-null  float64
 19  V19     194194 non-null  float64
 20  V20     194194 non-null  float64
 21  V21     194194 non-null  float64
 22  V22     194194 non-null  float64
 23  V23     194194 non-null  float64
 24  V24     194193 non-null  float64
 25  V25     194193 non-null  float64
 26  V26     194193 non-null  float64
 27  V27     194193 non-null  float64
 28  V28     194193 non-null  float64
 29  Amount  194193 non-null  float64
 30  Class   194193 non-null  float64
dtypes: float64(31)
memory usage: 45.9 MB

In [17]:
credit_card_data.dropna( axis=0, how='any', thresh=None, subset=None, inplace=True)

In [19]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [20]:
credit_card_data["Class"].value_counts()

0.0    193812
1.0       381
Name: Class, dtype: int64

In [21]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]