<a href="https://colab.research.google.com/github/Soufiane07-05/Credit-Card-Fraud-Detection/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [24]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [25]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [26]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95162 entries, 0 to 95161
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    95162 non-null  int64
 1   V1      95162 non-null  float64
 2   V2      95162 non-null  float64
 3   V3      95162 non-null  float64
 4   V4      95162 non-null  float64
 5   V5      95162 non-null  float64
 6   V6      95162 non-null  float64
 7   V7      95162 non-null  float64
 8   V8      95162 non-null  float64
 9   V9      95162 non-null  float64
 10  V10     95162 non-null  float64
 11  V11     95162 non-null  float64
 12  V12     95162 non-null  float64
 13  V13     95161 non-null  float64
 14  V14     95161 non-null  float64
 15  V15     95161 non-null  float64
 16  V16     95161 non-null  float64
 17  V17     95161 non-null  float64
 18  V18     95161 non-null  float64
 19  V19     95161 non-null  float64
 20  V20     95161 non-null  float64
 21  V21     95161 non-null  float64
 22  V22     95161 non-null  float64
 23  V23     95161 non-null  float64
 24  V24     95161 non-null  float64
 25  V25     95161 non-null  float64
 26  V26     95161 non-null  float64
 27  V27     95161 non-null  float64
 28  V28     95161 non-null  float64
 29  Amount  95161 non-null  float64
 30  Class   95161 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 22.5 MB

In [27]:
credit_card_data.dropna( axis=0, how='any', thresh=None, subset=None, inplace=True)

In [28]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [29]:
credit_card_data["Class"].value_counts()

0.0    94944
1.0      217
Name: Class, dtype: int64

In [30]:
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [31]:
print(legit.shape)
print(fraud.shape)

(94944, 31)
(217, 31)

In [32]:
legit.Amount.describe()

count    94944.000000
mean        98.685374
std        267.432993
min          0.000000
25%          7.600000
50%         26.720000
75%         89.752500
max      19656.530000
Name: Amount, dtype: float64

In [33]:
fraud.Amount.describe()

count     217.000000
mean      109.784286
std       243.927116
min         0.000000
25%         1.000000
50%         7.580000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [34]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,41232.783620,-0.25064,-0.047145,0.696491,0.15125,-0.270069,0.097914,-0.093292,0.048787,-0.032333,...,0.043401,-0.031938,-0.107340,-0.037071,0.009933,0.13190,0.026607,-0.000819,0.001332,98.685374
1.0,35870.354839,-6.16618,4.217965,-8.087819,4.99603,-4.444345,-1.845983,-6.417590,2.796291,-2.953535,...,0.354728,0.731128,-0.127758,-0.247689,-0.102596,0.20696,0.097699,0.532822,0.035472,109.784286

In [41]:
legit_sample = legit.sample(n=217)

In [42]:
new_dataset=pd.concat([legit_sample, fraud], axis=0)

In [43]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17165,28490,-0.972126,-0.381711,1.476537,0.942543,0.724788,-0.645232,-0.014497,-0.114780,-0.393540,...,0.012877,0.036251,-0.064540,0.028706,-0.517909,0.550587,-0.199127,0.014893,49.99,0.0
53882,46193,-1.253937,0.755521,0.015071,-1.542232,-0.995130,-1.028317,-0.411349,0.872012,-1.322705,...,-0.256888,-0.341739,0.062989,0.330558,-0.584642,0.830921,0.206847,0.116945,7.00,0.0
87413,61675,-1.698395,1.450057,0.918668,0.967776,-0.098692,0.035830,0.046579,0.473950,-0.358520,...,0.021557,0.152513,-0.095779,0.250351,-0.501228,-0.542092,-0.050703,0.184302,11.20,0.0
959,726,-0.393673,1.030889,1.295537,-0.045917,0.026069,-0.658290,0.599278,0.098848,-0.585184,...,-0.214127,-0.616465,-0.007490,0.264323,-0.203998,0.055965,0.236596,0.087496,9.44,0.0
60838,49527,-1.497385,-0.388600,2.582151,-1.411574,-1.474815,0.523148,-1.169785,1.048666,-0.424769,...,0.355096,0.951759,-0.173495,0.247661,0.396625,-0.138836,0.209678,0.009522,52.52,0.0

In [44]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
92777,64093,-6.133987,2.941499,-5.593986,3.258845,-5.315512,-0.637328,-4.476488,1.695994,-1.606743,...,0.868340,0.793736,0.217347,-0.021985,0.145882,0.665088,-1.684186,0.310195,294.90,1.0
93424,64412,-1.348042,2.522821,-0.782432,4.083047,-0.662280,-0.598776,-1.943552,-0.329579,-1.853274,...,1.079871,-0.352026,-0.218358,0.125866,-0.074180,0.179116,0.612580,0.234206,1.00,1.0
93486,64443,1.079524,0.872988,-0.303850,2.755369,0.301688,-0.350284,-0.042848,0.246625,-0.779176,...,-0.023255,-0.158601,-0.038806,-0.060327,0.358339,0.076984,0.018936,0.060574,0.00,1.0
93788,64585,1.080433,0.962831,-0.278065,2.743318,0.412364,-0.320778,0.041290,0.176170,-0.966952,...,-0.008996,-0.057036,-0.053692,-0.026373,0.400300,0.072828,0.027043,0.063238,0.00,1.0
94218,64785,-8.744415,-3.420468,-4.850575,6.606846,-2.800546,0.105512,-3.269801,0.940378,-2.558691,...,0.102913,0.311626,-4.129195,0.034639,-1.133631,0.272265,1.841307,-1.796363,720.38,1.0

In [45]:
new_dataset['Class'].value_counts()

0.0    217
1.0    217
Name: Class, dtype: int64

In [46]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434 entries, 17165 to 94218
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    434 non-null    int64
 1   V1      434 non-null    float64
 2   V2      434 non-null    float64
 3   V3      434 non-null    float64
 4   V4      434 non-null    float64
 5   V5      434 non-null    float64
 6   V6      434 non-null    float64
 7   V7      434 non-null    float64
 8   V8      434 non-null    float64
 9   V9      434 non-null    float64
 10  V10     434 non-null    float64
 11  V11     434 non-null    float64
 12  V12     434 non-null    float64
 13  V13     434 non-null    float64
 14  V14     434 non-null    float64
 15  V15     434 non-null    float64
 16  V16     434 non-null    float64
 17  V17     434 non-null    float64
 18  V18     434 non-null    float64
 19  V19     434 non-null    float64
 20  V20     434 non-null    float64
 21  V21     434 non-null    float64
 22  V22     434 non-null    float64
 23  V23     434 non-null    float64
 24  V24     434 non-null    float64
 25  V25     434 non-null    float64
 26  V26     434 non-null    float64
 27  V27     434 non-null    float64
 28  V28     434 non-null    float64
 29  Amount  434 non-null    float64
 30  Class   434 non-null    float64
dtypes: float64(30), int64(1)
memory usage: 108.5 KB

In [47]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,41542.230415,-0.298486,0.064060,0.816797,0.166475,-0.074615,0.050833,-0.073234,0.063546,-0.055791,...,0.044682,-0.095735,-0.144782,0.010790,-0.077894,0.094882,0.038705,0.028392,0.005515,69.886498
1.0,35870.354839,-6.166180,4.217965,-8.087819,4.996030,-4.444345,-1.845983,-6.417590,2.796291,-2.953535,...,0.354728,0.731128,-0.127758,-0.247689,-0.102596,0.206960,0.097699,0.532822,0.035472,109.784286

In [48]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [52]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
17165  28490 -0.972126 -0.381711  1.476537  0.942543  0.724788 -0.645232
53882  46193 -1.253937  0.755521  0.015071 -1.542232 -0.995130 -1.028317
87413  61675 -1.698395  1.450057  0.918668  0.967776 -0.098692  0.035830
959      726 -0.393673  1.030889  1.295537 -0.045917  0.026069 -0.658290
60838  49527 -1.497385 -0.388600  2.582151 -1.411574 -1.474815  0.523148
...      ...       ...       ...       ...       ...       ...       ...
92777  64093 -6.133987  2.941499 -5.593986  3.258845 -5.315512 -0.637328
93424  64412 -1.348042  2.522821 -0.782432  4.083047 -0.662280 -0.598776
93486  64443  1.079524  0.872988 -0.303850  2.755369  0.301688 -0.350284
93788  64585  1.080433  0.962831 -0.278065  2.743318  0.412364 -0.320778
94218  64785 -8.744415 -3.420468 -4.850575  6.606846 -2.800546  0.105512

             V7        V8        V9  ...       V20       V21       V22  \
17165 -0.014497 -0.114780 -0.393540  ...  0.222814  0.012877  0.036251
53882 -0.411349  0.872012 -1.322705  ... -0.580090 -0.256888 -0.341739
87413  0.046579  0.473950 -0.358520  ...  0.000905  0.021557  0.152513
959    0.599278  0.098848 -0.585184  ...  0.107735 -0.214127 -0.616465
60838 -1.169785  1.048666 -0.424769  ...  0.203019  0.355096  0.951759
...         ...       ...       ...  ...       ...       ...       ...
92777 -4.476488  1.695994 -1.606743  ... -0.815086  0.868340  0.793736
93424 -1.943552 -0.329579 -1.853274  ...  0.348896  1.079871 -0.352026
93486 -0.042848  0.246625 -0.779176  ... -0.252115 -0.023255 -0.158601
93788  0.041290  0.176170 -0.966952  ... -0.172659 -0.008996 -0.057036
94218 -3.269801  0.940378 -2.558691  ... -1.818315  0.102913  0.311626

            V23       V24       V25       V26       V27       V28  Amount
17165 -0.064540  0.028706 -0.517909  0.550587 -0.199127  0.014893   49.99
53882  0.062989  0.330558 -0.584642  0.830921  0.206847  0.116945    7.00
87413 -0.095779  0.250351 -0.501228 -0.542092 -0.050703  0.184302   11.20
959   -0.007490  0.264323 -0.203998  0.055965  0.236596  0.087496    9.44
60838 -0.173495  0.247661  0.396625 -0.138836  0.209678  0.009522   52.52
...         ...       ...       ...       ...       ...       ...     ...
92777  0.217347 -0.021985  0.145882  0.665088 -1.684186  0.310195  294.90
93424 -0.218358  0.125866 -0.074180  0.179116  0.612580  0.234206    1.00
93486 -0.038806 -0.060327  0.358339  0.076984  0.018936  0.060574    0.00
93788 -0.053692 -0.026373  0.400300  0.072828  0.027043  0.063238    0.00
94218 -4.129195  0.034639 -1.133631  0.272265  1.841307 -1.796363  720.38

[434 rows x 30 columns]

In [53]:
print(Y)

17165    0.0
53882    0.0
87413    0.0
959      0.0
60838    0.0
        ...
92777    1.0
93424    1.0
93486    1.0
93788    1.0
94218    1.0
Name: Class, Length: 434, dtype: float64

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [55]:
print(X.shape, X_train.shape, X_test.shape)

(434, 30) (347, 30) (87, 30)

Logistic Regression

In [56]:
model = LogisticRegression()

In [57]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [58]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [59]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9654178674351584

In [60]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [61]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9425287356321839